<table align="center" border="0" cellpadding="0" cellspacing="0" style="width:600px;">
    <tbody>
<tr>
         <td style="padding-left:30px">
            <img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-1.jpg" style="display: block;"/>
         </td>
      </tr>
      <tr>
         <td>
            <img alt="" border="0" src="testeteste2.jpg" style="display: block;"/>
         </td>
      </tr>
        <tr>
            <td style="padding-top:60px;padding-bottom:40px">
                <table border="0" cellpadding="0" cellspacing="0" style="width:600px;">
                    <tbody>
                        <tr>
                            <td colspan="2" style="font-family: arial; font-size: 20px; color: #4e4e4e; text-align: center;font-weight:bold;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center" style="padding-top:10px"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-3.jpg" style="display: block;"></td>
                        </tr>
                        <tr>
                            <td colspan="2" style="font-family: arial; font-size: 14px; color: #5d5d5d; text-align: center;padding-right:15px;padding-left:15px;padding-top:15px">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer iaculis elementum ullamcorper. Ut in massa elit. Donec eleifend risus ante.</td>
                        </tr>
                        <tr>
                            <td colspan="2" style="padding-top:20px;padding-bottom:50px">
                                <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#EA292E" style="width:150px;background-color:#EA292E;height:35px">
                                    <tbody>
                                        <tr>
                                            <td style="font-family: arial; font-size: 14px; color: #ffffff; text-align: center;font-weight:bold;padding-right:10px;padding-left:10px"><a href="saibamais" style="text-decoration: none; color: #ffffff">SAIBA MAIS</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-9.png" style="display: block;"></td>
                            <td align="center"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-10.png" style="display: block;"></td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size:16px; color: #4e4e4e; text-align: center;font-weight:bold;padding-top:40px">LOREM IPSUM</td>
                            <td style="font-family: arial; font-size:16px; color: #4e4e4e; text-align: center;font-weight:bold;padding-top:40px">LOREM IPSUM</td>
                        </tr>
                        <tr>
                            <td style="font-family: arial; font-size: 14px; color: #5d5d5d; text-align: center;padding-top:10px">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</td>
                            <td style="font-family: arial; font-size: 14px; color: #5d5d5d; text-align: center;padding-top:10px">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit.</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
           <td>
            <img alt="" border="0" src="testeteste.jpg" style="display: block;"/>
         </td>
        </tr>
<!--        <tr>
            <td align="center" style="background-color:#F8AFA8;padding-top:15px;padding-bottom:20px">
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:350px;">
                    <tbody>
                        <tr>
                            <td style="width:30px"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-5.png" style="display: block;"></td>
                            <td style="width:30px"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-6.png" style="display: block;"></td>
                            <td style="width:30px"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-7.png" style="display: block;"></td>
                            <td style="width:30px"><img alt="" border="0" src="http://emailmarketingtemplates.com.br/templates/datas-comemorativas/dia-dos-namorados-3/dia-dos-namorados-3-8.png" style="display: block;"></td>
                            <td style="width:230px;color: #E8233F;font-family:  Trebuchet MS;font-size:18px;">/  WWW.OUVIDORIA.MARACANAU.IFCE.EDU.BR</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>-->
    </tbody>
</table>
